.container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  border: 2px solid #ccc;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
}

.employee-info-card {  
  border-radius: 8px;
  padding: 20px;
  width: 30%;

}

.chart-container {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 65%; 
 
}

.info {
  display: flex;
  flex-direction: column;
}

.info-item {
  display: flex;
  margin-bottom: 10px;
}

.info-item h3 {
  margin-right: 10px;
}

.chart {
  margin-top: 20px;
}

.chart svg {
  width: 100%;
  height: auto;
}

