.navbar {
  background-color: black; 
  color: #fff;
  padding: 20px; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px; 
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

.right-side{
  flex: 1;
}
